/* VARIABLES */

:root {
	--main-text-color: #ffffff;
	--text-color: #dfdfdf;

	--bg-color: #000000;
	--main-color: #1c7aff;
	--light-main-color: #3caaff;
	--outline-color: #1c5acf;
	--code-bg-color: #252525;
	--light-bg-color: #454545;
	--lighter-bg-color: #6a6a6a;

	--font: "Nunito", sans-serif;
	--code-font: "Fira Mono", monospace;

	--basic-font-size:16px;
	--small-font-size:12px;
	--big-font-size:18px;
	--huge-font-size:22px;
	--gaint-font-size:30px;

	font-family: var(--font);
	color: var(--text-color);
	font-size: var(--basic-font-size);
}

/* BODY */

body {
	background: var(--bg-color);
	color: var(--text-color);
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

/* HEADER */

header {
	padding: 20px;
	background: var(--main-color);
}

#icon {
	width:35px;
	height:35px;
	float: left;
	margin-top:0px;
	margin-bottom:0px;
}

header>h1 {
	margin-top:0px;
	margin-bottom:0px;
	font-size: var(--gaint-font-size);
	display: inline;
	position: relative;
}

h1,h2,h3 {
	color: var(--main-text-color);
}

#links {
	display: inline;
	margin-left:20px;
	position: relative;
}

.no-select {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#links>a {
	border-radius: 100px;
	color: var(--text-color);
	background: var(--bg-color);
	padding:5px;
	padding-right:10px;
	padding-left:10px;
	text-decoration: none;
	display: inline-block;
	min-width: 50px;
	text-align: center;
	border: 4px solid var(--outline-color);
	margin-left:10px;
	transition: background 0.25s, color 0.25s, border 0.25s;

	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#links>a:visited,#links>a:focus {
	text-decoration: none;
	color: var(--text-color);
}

#links>a:hover {
	background: var(--outline-color);
	color: var(--main-text-color);
	transition: background 0.25s, color 0.25s, border 0.25s;
}

#links>a:active {
	background: var(--light-main-color) !important;
	border: 4px solid var(--light-main-color);
	transition: border 0.25s, background 0.25s;
}

.current-link {
	background: var(--light-main-color) !important;
	border: 4px solid var(--light-main-color) !important;
}

/* CONTENT */

#content {
	width:calc(100% - 100px);
	height:auto;
	padding:50px;
}

#list {
	width:15vw;
	height:auto;
	border:2px solid var(--light-bg-color);
	border-radius:8px;
	float:left;
	padding-top:10px;
	padding-bottom:10px;
	position:absolute;
}

#list>a {
	margin-right:10px;
	margin-left:10px;
	padding-left:10px;
	color: var(--main-text-color);
	text-decoration:none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display:block;
	border-radius:4px;
	background: var(--light-bg-color);
}

#list>a:not(:last-child) {
	margin-bottom:5px;
}

#side>a,#side>a:visited,#side>a:focus,.side-a {
	color: var(--light-main-color)!important;
	text-decoration:none!important;
	-webkit-user-select: none!important;
	-ms-user-select: none!important;
	user-select: none!important;
}

#side {
	width:calc(80vw - 50px);
	height:auto;
	position:absolute;
	float:right;
	right:50px;
	white-space:pre;
}

/* INPUTS */

/* CODE BLOCKS */

.single-code-block {
	border-radius: 4px;
	background: var(--code-bg-color);
	color: var(--main-text-color);
}

.multi-code-block {
	border-radius: 4px;
	tab-size:4;
	background: var(--code-bg-color);
	color: var(--main-text-color);
}

/* CLASSES */

.note {
	border-left: 5px solid var(--light-bg-color);
	padding-left: 10px;
}

.active-wiki {
	background: var(--lighter-bg-color) !important;
}